BasedOnStyle: Google
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
IndentWidth: 4
TabWidth: 4
SpacesInParentheses: true
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
UseTab: ForContinuationAndIndentation
