[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/italodirenzo93/assimp.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/italodirenzo93/glfw.git
[submodule "dependencies/openal-soft"]
	path = dependencies/openal-soft
	url = https://github.com/italodirenzo93/openal-soft.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/italodirenzo93/imgui.git
